.weeks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .current {
    display: flex;
    flex-direction: column;
    text-align: center;

    .week {
      font-size: 2em;
    }
  }
}

.chart {
  display: grid;
  grid-template-columns:
    auto var(--negative-fr, 1fr) 1pt var(--positive-fr, 1fr);

  li {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    grid-column: 1 / -1;
  }

  .restaurant_name {
    text-align: right;
    margin-right: 1em;
  }

  .negative, .positive {
    /* width: 50em; */
    height: 1em;

    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .positive {
    background-color: var(--positive-color);
    width: calc(100% * var(--count) / var(--max));
  }

  .negative {
    margin-left: auto;
    background-color: var(--negative-color);
    width: calc(100% * var(--count) / var(--min));
  }

  .separator {
    background-color: black;
  }
}
