.weeks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .current {
    display: flex;
    flex-direction: column;
    text-align: center;

    .week {
      font-size: 2em;
    }
  }
}

.chart {
  display: grid;
  grid-template-columns: 1fr 25em 25em;

  li {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    grid-column: 1 / -1;
  }

  .restaurant_name {
    /* margin: auto; */
    /* margin-inline-end: 1em; */
  }

  .negative, .positive {
    /* width: 50em; */
    height: 1em;

    display: flex;
    justify-content: center;
    overflow: hidden;

    width: calc(100% * var(--count) / var(--total-votes));
  }

  .positive {
    background-color: var(--positive-color);
  }

  .negative {
    margin-left: auto;
    background-color: var(--negative-color);
  }
}
