:root {
  color-scheme: dark light;
}

body {
  max-width: 150ch;
  margin: auto;
}

.suggestion_form div {
  /* display: flex; */
  flex-wrap: wrap;
}

.place {
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  margin: auto;

  legend {
    font-weight: bold;
    font-size: 1.2em;
  }

  label {
    padding: 0.5em 1em;
    margin: auto;
  }

  .positive {
    background-color: green;
  }

  &:has(.positive input:checked) {
    background-color: green;
  }

  .neutral {
    background-color: grey;
  }

  &:has(.neutral input:checked) {
    background-color: gray;
  }

  .negative {
    background-color: red;
  }

  &:has(.negative input:checked) {
    background-color: red;
  }

  label:has(input:checked) {
    outline: 2px solid black;
  }

  input[type="radio"] {
    visibility: hidden;
    display: none;
  }
}