.suggestion_form div {
  /* display: flex; */
  flex-wrap: wrap;
}

.suggestion_form {
  background-color: hsl(0, 0%, 100%);
  max-width: fit-content;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.entries {
  display: grid;
  grid-template-columns: minmax(20ch, 1fr) repeat(3, 10ch);
  gap: 1em;
}

.place {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding-block: 1em;

  .name {
    font-weight: bold;
    font-size: 1.2em;
    margin: auto;
  }

  label {
    padding: 0.5em 1em;
    padding-right: 0.5em;
    display: block;
    /* margin: auto; */
    text-align: center;
    /* max-width: max-content; */
    padding: 1em;
  }

  .positive {
    background-color: var(--positive-color);
  }

  &:has(.positive input:checked) {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 10%,
      #00c295 100%
    );
  }

  .neutral {
    background-color: var(--neutral-color);
  }

  &:has(.neutral input:checked) {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 10%,
      var(--neutral-color) 100%
    );
  }

  .negative {
    background-color: var(--negative-color);
  }

  &:has(.negative input:checked) {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 10%,
      var(--negative-color) 100%
    );
  }

  label:has(input:checked) {
    box-shadow:
      rgba(10, 10, 72, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-weight: bold;
  }

  input[type="radio"] {
    visibility: hidden;
    display: none;
  }
}

input {
  outline: none;
  font-size: 1em;
  border-radius: 8px;
  padding: 0.5em;
  border: none;
  background-image: linear-gradient(135deg, #cdf93d 10%, #58cffb 100%);
  color: #22232e;
  margin: 1em;
  margin-left: 0;
  font-family: "DynaPuff";
}
