.suggestion_form div {
  /* display: flex; */
  flex-wrap: wrap;
}

.entries {
  display: grid;
  grid-template-columns: minmax(50ch, 1fr) repeat(3, minmax(15ch, 20ch));
  gap: 1em;
}

.place {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding-block: 1em;

  .name {
    font-weight: bold;
    font-size: 1.2em;
  }

  label {
    padding: 0.5em 1em;
    display: block;
    /* margin: auto; */
    text-align: center;
  }

  .positive {
    background-color: green;
  }

  &:has(.positive input:checked) {
    background-color: green;
  }

  .neutral {
    background-color: grey;
  }

  &:has(.neutral input:checked) {
    background-color: gray;
  }

  .negative {
    background-color: red;
  }

  &:has(.negative input:checked) {
    background-color: red;
  }

  label:has(input:checked) {
    border: 0.4em solid black;
    font-weight: bold;
  }

  input[type="radio"] {
    visibility: hidden;
    display: none;
  }
}
